@import 'nib'

//General styles of page
@import 'general/general.styl'

//Screens (> 1024px)
@import 'header/header-desktop.styl'
@import 'pattern/video-classes/video-classes-desktop.styl'
@import 'pattern/discussions/discussions-desktop.styl'
@import 'body/list-classes/list-classes-desktop.styl'
@import 'modals/notes/notes-dektop.styl'
@import 'modals/questionAndAnswers/questionAndAnswers-desktop.styl'
@import 'body/class-video/class-video-desktop.styl'
@import 'pattern/courses/courses-desktop.styl'
@import 'body/list-courses/list-courses-desktop.styl'
@import 'body/specification-course/specification-course-desktop.styl'
@import 'pattern/footer/footer-desktop.styl'
@import 'body/careers/careers-desktop.styl'
@import 'body/courses-careers/courses-careers-desktop.styl'
@import 'body/nublei-tv/nublei-tv-desktop.styl'
@import 'modals/explanation-nubleitv/explanation-nubleitv-desktop.styl'
@import 'modals/content-nubleitv/content-nubleitv-desktop.styl'
@import 'body/nublei-tv-channel/nublei-tv-channel-desktop.styl'

//Screens (768px - 1023px)
@media (max-width: 1023px)
	@import 'header/header-768-1023.styl'
	@import 'pattern/video-classes/video-classes-768-1023.styl'
	@import 'pattern/discussions/discussions-768-1023.styl'
	@import 'body/list-classes/list-classes-768-1023.styl'
	@import 'modals/notes/notes-768-1023.styl'
	@import 'modals/questionAndAnswers/questionAndAnswers-768-1023.styl'
	@import 'body/class-video/class-video-768-1023.styl'
	@import 'pattern/courses/courses-768-1023.styl'
	@import 'body/list-courses/list-courses-768-1023.styl'
	@import 'body/specification-course/specification-course-768-1023.styl'
	@import 'pattern/footer/footer-768-1023.styl'
	@import 'body/careers/careers-768-1023.styl'
	@import 'body/courses-careers/courses-careers-768-1023.styl'
	@import 'body/nublei-tv/nublei-tv-768-1023.styl'
	@import 'modals/explanation-nubleitv/explanation-nubleitv-768-1023.styl'
	@import 'modals/content-nubleitv/content-nubleitv-768-1023.styl'
	@import 'body/nublei-tv-channel/nublei-tv-channel-768-1023.styl'

//Screens (480px - 767px)
@media (max-width: 767px)
	@import 'header/header-480-767.styl'
	@import 'pattern/video-classes/video-classes-480-767.styl'
	@import 'pattern/discussions/discussions-480-767.styl'
	@import 'body/list-classes/list-classes-480-767.styl'
	@import 'modals/notes/notes-480-767.styl'
	@import 'modals/questionAndAnswers/questionAndAnswers-480-767.styl'
	@import 'body/class-video/class-video-480-767.styl'
	@import 'pattern/courses/courses-480-767.styl'
	@import 'body/list-courses/list-courses-480-767.styl'
	@import 'body/specification-course/specification-course-480-767.styl'
	@import 'pattern/footer/footer-480-767.styl'
	@import 'body/careers/careers-480-767.styl'
	@import 'body/courses-careers/courses-careers-480-767.styl'
	@import 'body/nublei-tv/nublei-tv-480-767.styl'
	@import 'modals/explanation-nubleitv/explanation-nubleitv-480-767.styl'
	@import 'modals/content-nubleitv/content-nubleitv-480-767.styl'
	@import 'body/nublei-tv-channel/nublei-tv-channel-480-767.styl'

//Screens (0px - 479px)
@media (max-width: 479px)
	@import 'header/header-0-479.styl'
	@import 'pattern/video-classes/video-classes-0-479.styl'
	@import 'pattern/discussions/discussions-0-479.styl'
	@import 'body/list-classes/list-classes-0-479.styl'
	@import 'modals/notes/notes-0-479.styl'
	@import 'modals/questionAndAnswers/questionAndAnswers-0-479.styl'
	@import 'body/class-video/class-video-0-479.styl'
	@import 'pattern/courses/courses-0-479.styl'
	@import 'body/list-courses/list-courses-0-479.styl'
	@import 'body/specification-course/specification-course-0-479.styl'
	@import 'pattern/footer/footer-0-479.styl'
	@import 'body/careers/careers-0-479.styl'
	@import 'body/courses-careers/courses-careers-0-479.styl'
	@import 'body/nublei-tv/nublei-tv-0-479.styl'
	@import 'modals/explanation-nubleitv/explanation-nubleitv-0-479.styl'
	@import 'modals/content-nubleitv/content-nubleitv-0-479.styl'
	@import 'body/nublei-tv-channel/nublei-tv-channel-0-479.styl'