.modal-video-nubleitv
    display none
    position absolute
    z-index 110
    top 0
    width 100%
    height 100vh
    overflow auto
    background #f9f9f9
    header
        position fixed
        z-index 115
        display flex
        justify-content space-between
        align-items center
        width 100%
        padding 0px 20px
        height 60px
        box-sizing border-box
        background #fff
        color #018c97
        box-shadow 2px 0 2px 2px rgba(49,49,48,0.1)
        i
            font-size 27px
            cursor pointer
            &:hover
                opacity 0.8

.inv-content-video-nubleitv
    width 65%
    margin 0 auto
    margin-top 85px
    padding 0px 10px
    box-sizing border-box

.content-video-nubleitv
    width 100%
    margin 0 auto
    article
        width 100%
        position relative
        padding-top 56.25%
        iframe
            position absolute
            height 100%
            width 100%
            top 0
            left 0

.inf-video-nubleitv
    padding 15px 8px
    padding-bottom 0
    box-sizing border-box
    background #fff
    text-align center
    h1
        font-size 25px
        color #018c97
        margin-bottom 15px
    .dt-inf-video-nubleitv
        font-style italic
        color rgba(59,58,58,0.7)
    p
        margin-top 15px
        margin-bottom 25px
    div
        display flex
        align-items center
        justify-content space-between
        border-top 1px solid  #e5e5e5
        padding-top 12px
        padding-bottom 15px
        span
            display flex
            align-items center
            i
                font-size 22px
                margin-right 5px
                color #e5e5e5
                transition color 0.5s
                &:hover
                    color #018c97
            img
                height 34px
                border-radius 100%
                margin-left 8px
                margin-right 5px

.lv-video-nubleitv
    color #018c97 !important

.comments-video-nubleitv
    width 65%
    margin 0 auto
    margin-top 15px
    padding 0px 10px
    box-sizing border-box
