// List of classes and informations
.list-classes-discussions
    padding-top 50px
    position relative

// Classes of information
.course-information
    padding 12px 0px

.course-teacher
    display flex
    flex-direction column-reverse
    justify-content flex-end
    figure
        margin-bottom 1px
        img
            width 30px
            height 30px
            &:first-child
                margin-left 0px

.data
    margin-left 20px
    span:first-child
        font-size 23px

.level-resposive,
.see-discussions
    display block

.see-discussions-mobile
    margin-bottom: 2px;
    border-radius: 3px;
    margin-left: 5px;
    padding: 14px 4px 12px 2px;
    border: 1px solid #e5e5e5;
    color #018c97
    cursor pointer
    &:hover
        background #79eace

.title-teacher-desktop
    display none

.title-teacher-mobile
    display block

// List of discussions
.inv-list-discussions
    position fixed
    z-index 12
    top 0px
    right -100%
    width 90%
    height 100%
    background #f9f9f9
    padding 56px 12px 0px 12px

.filter-options-custom
    select
        padding 8px 6px

.close-input-discussions
  display block
