// List of classes and informations
.list-classes-discussions
    padding-top 50px

// Classes of information
.course-information
    padding 15px 0px

.course-teacher figure
    img
        width 36px
        height 36px

.data
    margin-left 25px
    span:first-child
        font-size 23px

.data-course-level
    div
        &:nth-child(1)
            width 9px
            height 9px
        &:nth-child(2)
            margin-left 2px
            width 12px
            height 12px
        &:nth-child(3)
            margin-left 2px
            width 15px
            height 15px

//List of classes
.list-classes-module
    h3
        font-size 17px

// List of discussions
.inv-list-discussions
    width 38%
    padding 15px 15px 0px 15px

.filter-options-custom
    margin-top 15px
    padding-top 15px
    padding-bottom 15px
    select
        padding 9px 8px
