 .header
	height 46px
	padding 5px 15px 5px 15px

// Header of left
.logo
	img
		height 26px
		
.title-father
	i 
		margin-left 2px
		margin-right 2px

// Header of middle
.header-middle
	display none

// Header of right
.notification
	margin-left 18px
	
.message
	margin-left 18px
