.header
	position fixed
	display flex
	z-index 100
	width 100%
	height 60px
	background #fff
	justify-content space-between
	padding 5px 25px 5px 25px
	box-sizing border-box

[class^="header-"]{
	flex auto
	display flex
	align-items center
}

// Header of left
.menu-icon
	color #018c97
	font-size 22px
	margin-right 15px
	&:hover
		opacity 0.8

.logo
	margin-right 5px
	img
		margin-top 5px
		height 36px

.title-father
	a
		&:hover
			opacity 0.8
	i
		margin-left 3px
		margin-right 3px
		font-size 12px

.current-title
	font-weight bold
	font-size 18px
	color rgba(58,58,58,0.8);

// Header of middle
.header-middle
	justify-content center

.level-course
	display flex
	align-items center

.level
	width 10px
	height 10px
	border 1px solid #018c97
	border-radius 50%
	margin-right 5px

.completed
	background #018c97

// Header of right
.header-right
	justify-content flex-end
	i
		color #018c97
		font-size 22px
		&:hover
			opacity 0.8

.notification
	cursor pointer
	margin-left 30px
	position relative

.message
	cursor pointer
	margin-left 30px
	position relative

.notification-balloon
	position absolute
	z-index 200
	top -8px
	right -8px
	font-size 12px
	padding 0px 3px 1px 3px
	border-radius 5px
	color #fff
	text-align center
	background #ff0000
