.header
	height 50px
	padding 5px 20px 5px 20px

// Header of left
.menu-icon
	font-size 20px
	margin-right 10px

.logo
	img
		margin-top 5px
		height 28px

.current-title
	font-size 16px

// Header of right
.header-right
	i 
		font-size 20px	
	
.notification
	margin-left 22px
	
.message
	margin-left 22px

.notification-balloon
	top -7px
	right -6px
	font-size 11px
	