 .header
	height 44px
	padding 5px 8px 5px 8px

// Header of left
.menu-icon
	font-size 18px
	margin-right 6px

.logo
	margin-right 3px 
	img
		height 24px

.title-father
	a 
		font-size 15px
	i 
		font-size 10px
				
.title-father
	i 
		margin 0px

// Header of right
.header-right
	i 
		font-size 18px	
		
.notification
	margin-left 13px
	
.message
	margin-left 13px

.notification-balloon
	top -6px
	right -4px
	font-size 10px
