// Header of the courses of the career
.inv-header-courses-careers
    margin-top 60px
    background #fff

.header-courses-careers
    display flex
    align-items center
    padding 90px 10px 80px 10px
    box-sizing border-box
    img
        margin-right 10px
        height 110px
    div
        span
            font-size 15px
            opacity: 0.8
        h1
            font-size 25px

// involves the career courses
.courses-career-dektop
    display flex
    justify-content center
    padding 0px 10px 0px 10px
    box-sizing border-box
    width 1000px
    margin 0 auto

.courses-career-left,
.courses-career-right
    flex auto

.courses-career-left
    .inv-course-guide-structure:nth-child(1)
        margin-top 90px

.courses-career-right
    .inv-course-guide-structure:nth-child(1)
        margin-top 289px

.inv-course-guide-structure
    display flex
    margin-top 118px
    align-items center
    article
        width 55%
        margin-bottom 0px

.guide-horizontal-structure
    flex auto
    height 2px
    background #e5e5e5

.structure-career-desktop
    .guide-structure-numeric:nth-child(1)
        height 250px
    .guide-structure-numeric:last-child
        height 190px
        .numeric-course
            width 20px
            height 20px
            background #e5e5e5

.guide-structure-numeric
    width 36px
    height 200px
    display flex
    flex-direction column
    align-items center

.guide-structure-vertical
    flex auto
    width 2px
    background #e5e5e5

.numeric-course
    width 34px
    height 34px
    text-align center
    line-height 34px
    border-radius 100%
    border 2px solid #e5e5e5
    background #fff
