.inv-classVideo-interaction
    padding 50px 10px 0px 10px

//Involved the class video
  .classVideo-options
    width 80%
    margin-top 15px

.class-back
    height 45px
    line-height 45px

.class-options
    justify-content space-between
    height 45px

.class-next
    height 45px
    line-height 45px

.classVideo
    width 80%

//Involved the interaction of class
.menu-interactionOfClass
    width 80%

.inv-content-interaction
    width 80%

.user-discussions-interaction
    padding 0px 70px

.numDiscussions-filter-interaction
    select
        width 180px
