.inv-classVideo-interaction
    padding 46px 10px 0px 10px

//Involved the class video
  .classVideo-options
    width 90%

.class-back
    width 43%

.class-options
    width 14%

.class-next
    width 43%

.classVideo
    width 90%

//Involved the interaction of class
.menu-interactionOfClass
    width 90%

.op-menu-interactionOfClass
    div
        &:nth-child(1)
            width 40px
            height 40px
            line-height 40px

.inv-content-interaction
    width 90%

.user-discussions-interaction
    padding 0px 30px

.numDiscussions-filter-interaction
    select
        width 160px

.inv-content-exercises,
.inv-content-files,
.inv-content-links,
.inv-content-github
    a
        margin-bottom 18px
