.inv-footer
    background #3a3a3a

.footer
    display flex
    padding 55px 10px
    box-sizing border-box

[class^="fotter-part-"]
    flex auto
    display flex
    flex-direction column
    color #fff
    h3
        color #79eace
    ul
        li
            margin-top 10px
            a
                color rgba(255,255,255,0.7)
                &:hover
                    color #fff

.fotter-part-1
    width 25%
    align-items center
    img
        height 60px
        margin-bottom 15px

.icons-social-footer
    background #79eace
    text-align center
    padding 10px 0px
