.modal-notes
    position absolute
    z-index 110
    top 0
    width 100%
    height 100vh
    background #fff
    overflow auto
    display none

.header-modal-notes
    position fixed
    display flex
    justify-content space-between
    align-items center
    z-index 115
    width 100%
    height 60px
    padding-left 20px
    padding-right 20px
    box-sizing border-box
    background #018c97
    color #fff
    i
        font-size 27px
        margin-bottom 3px
        cursor pointer
        &:hover
            color #79eace
        &:last-child
            margin-bottom 1px

.formatting-content
    display flex
    flex-direction column
    height 100%
    padding-top 60px
    padding 60px 20px 0px 20px
    box-sizing border-box

.formatting-options-notes
    padding-top 25px
    padding-bottom 8px
    border-bottom 1px solid #e5e5e5
    i
        margin-right 15px
        cursor pointer
        &:hover
            color #79eace

.content-notes
    padding 15px 0px 8px 0px
    box-sizing border-box
    outline none
    flex auto
