.header-modal-notes
    height 44px
    i
        font-size 18px

.formatting-content
    padding-top 44px

.formatting-options-notes
    padding-top 20px
    i
        font-size 15px

.content-notes
    font-size 15px
