//Input of discussions
.input-discussions
    width 100%

.input-discussions-false
    display flex
    align-items center
    width 100%
    border-radius 5px
    background #fff
    box-sizing border-box
    padding 8px
    border 1px solid #e5e5e5
    color rgba(59,58,58,0.6)
    img
        width 40px
        height 40px
        border-radius 50%
        margin-right 5px
        flex-shrink os
    &:hover
        border 1px solid #79eace

.input-discussions-true
    display none

.title-discussion
    width 100%
    margin-bottom 10px
    position relative
    span
        position absolute
        top 15px
        right 8px
        color rgba(59,58,58,0.5)
    input
        width 100%
        border-radius 5px
        padding 15px 40px 15px 8px
        box-sizing border-box
        border 1px solid #e5e5e5
        outline none
        &:focus
            border 1px solid #79eace

.text-editor-icons
    display flex
    justify-content flex-end
    background #018c97
    border-radius 5px 5px 0px 0px
    span
        color #fff
        padding 10px 8px
        cursor pointer
        &:hover
            background #01848e
            color #79eace

.textarea
    width 100%
    height 160px
    border 1px solid #e5e5e5
    border-radius 0px 0px 5px 5px
    overflow auto
    background #fff
    box-sizing border-box
    padding 8px
    outline none
    &:focus
        border 1px solid #79eace

.tags-input-data
    margin-top 10px

.selected-tags
    display flex
    flex-wrap wrap
    li
        display flex
        align-items center
        flex-shrink 0
        list-style none
        font-size 12px
        padding 3px 6px
        background rgba(121,234,206,0.6)
        cursor default
        margin-right 5px
        margin-bottom 5px
        &:hover
            opacity 0.8
        i
            color rgba(59,58,58,0.5)
            font-size 16px
            margin-top 2px
            margin-left 5px
            cursor pointer
            &:hover
                color #f00

.input-tags
    input
        padding 8px 8px

.buttons-input-data
    width 100%
    text-align right
    box-sizing border-box
    margin-top 10px
    a:hover
        text-decoration underline
    button
        padding 8px 25px
        margin-left 10px

//List of discussions
.list-discussions
    width 100%

.discussion
    display flex
    align-items center
    height 76px
    margin-bottom 10px
    border-radius 5px
    background #fff
    border 1px solid #e5e5e5
    padding 0px 8px

.discussion-user-data
    flex-shrink 0
    img
      width 55px
      height 55px
      border-radius 50%
      &:hover
          opacity 0.8

.discussion-date-1,
.discussion-date-2
    font-size 14px
    text-align right
    font-style italic
    font-weight 200
    color rgba(58,58,58,0.7)

.discussion-date-1
    display none

.discussion-title-tags
    flex auto
    margin-left 7px

.discussion-title-tags h4
    font-size 18px
    font-style normal
    font-weight 400
    color #018c97
    margin 0px
    margin-bottom 5px
    &:hover
        opacity 0.8

.discussion-tags a
    font-size 12px
    padding 3px 6px
    background rgba(121,234,206,0.6)
    &:hover
        opacity 0.8

.discussion-informations-date
    display flex
    flex-shrink 0
    flex-direction column

.discussion-informations
    display flex
    justify-content center
    margin-top 5px

.information
    display flex
    flex-direction column
    text-align center
    font-size 14px
    margin-left 8px

.discussion-informations .information:nth-child(1)
    margin-left 0px

.information span:nth-child(1)
    color #018c97

.custom-discussion .discussion
    display flex
    flex-direction column
    height auto
    padding 8px

.custom-discussion .discussion-user-data
    display flex
    justify-content space-between
    align-items center
    width 100%
    border-bottom 1px solid #e5e5e5
    padding-bottom 4px
    margin-bottom 10px
    img
        width 28px
        height 28px

.custom-discussion .discussion-title-tags
    width 100%
    h4
        font-size 16px

.custom-discussion .discussion-date-1
    display block

.custom-discussion .discussion-date-2
    display none

.custom-discussion .discussion-title-tags
    margin-left 0px

.custom-discussion .discussion-informations-date
    margin-top 15px
    border-top 1px solid #e5e5e5
    border-top 1px solid #e5e5e5
    width 100%

.custom-discussion .information
    font-size 12px
