//Input of discussions
.input-discussions-false
    padding 5px

.title-discussion
    span
        top 12px
    input
        padding 12px 40px 12px 8px

.textarea
    height 130px

.buttons-input-data
    button
        padding 7px 20px

//Input custom of discussions
.input-custom-discussions .input-discussions-false
      font-size 16px
      img
          width 34px
          height 34px

.input-custom-discussions .title-discussion
    span
        top 10px
    input
        padding 10px 40px 10px 8px

.input-custom-discussions .text-editor-icons
    span
        font-size 14px
        padding 8px 10px

.input-custom-discussions .textarea
    height 120px
