//Input of discussions
.title-discussion
    span
        top 10px
    input
        padding 10px 40px 10px 8px

.text-editor-icons
    span
        font-size 15px
        padding 8px 9px

.textarea
    height 110px

.input-tags
    input
        padding 8px 6px

.buttons-input-data
    button
        padding 6px 20px

//List of discussions
.discussion
    display flex
    flex-direction column
    height auto
    padding 8px

.discussion-user-data
  display flex
  justify-content space-between
  align-items center
  width 100%
  border-bottom 1px solid #e5e5e5
  padding-bottom 4px
  margin-bottom 10px
  img
    width 30px
    height 30px

.discussion-title-tags
    width 100%
    h4
      font-size 18px

.discussion-date-1
    display block

.discussion-date-2
    display none

.discussion-title-tags
    margin-left 0px

.discussion-informations-date
    margin-top 15px
    border-top 1px solid #e5e5e5
    width 100%

.information
    font-size 14px
