.class-course
    height 44px
    padding 0px 5px 0px 5px

.icon-course
    width 28px
    height 28px
    line-height 28px
    font-size 12px

.title-class
    margin-left 4px
    padding-right 8px
    box-sizing border-box
    font-size 15px

.class-characteristics
    font-size 16px
