.list-classes
    display flex
    flex-direction column
    width 100%
    height auto

.class-course
    display flex
    align-items center
    height 50px
    border-radius 5px
    border 1px solid #e5e5e5
    margin-bottom 5px
    padding 0px 7px 0px 7px
    background #fff
    cursor pointer
    &:hover
        background rgba(229,229,229,0.2)

.icon-course
    flex-shrink 0
    width 36px
    height 36px
    text-align center
    line-height 36px
    border-radius 50%
    color #fff
    background #018c97
    &:hover
        opacity 0.8

.title-class
    margin-left 8px
    margin-right auto

.class-characteristics
    flex-shrink 0
    font-size 18px
    color #e5e5e5

.class-characteristics i:nth-child(1)
    margin-right 8px
    cursor pointer
    &:hover
        color #f1e638

.class-characteristics i:nth-child(2)
    margin-right 8px
    cursor pointer
    &:hover
        color #79eace
