.inv-header-careers
    margin-top 60px
    background #fff

.header-careers
    display flex
    justify-content center
    padding 40px 10px 20px 10px
    box-sizing border-box
    img
        height 76px
        margin-right 5px

.message-avatar-careers
    width 500px
    border 1px solid #79eace
    border-radius 5px
    text-align center
    padding 10px 25px 10px 25px

.inv-careers
    margin-top 60px

.carees
    display flex
    flex-wrap wrap
    justify-content space-between
    padding 0px 10px 0px 10px
    box-sizing border-box

.career
    width 31%
    background #fff
    margin-bottom 30px
    border-radius 5px
    border 1px solid #e5e5e5

.inv-img-career
    height 130px
    display flex
    justify-content center
    align-items center
    border-radius 5px 5px 0px 0px
    img
        transition height 0.5s
        height 66px
    &:hover img
        height 86px

.inf-career
    display flex
    flex-direction column
    text-align center
    padding 8px
    box-sizing border-box
    div
        &:nth-child(1)
            height 130px
            h3
                margin-top 5px
                margin-bottom 5px
                a
                    color #018c97
                    font-size 16px
                    &:hover
                        text-decoration underline
        &:nth-child(2)
            display flex
            justify-content space-between
            align-items center
            border-radius 0px 0px 5px 5px
            border-top 1px solid #e5e5e5
            padding-top 8px
            margin-top 8px
            a
                border 1px solid #79eace
                padding 4px 15px
                border-radius 5px
                &:hover
                    background #79eace
