.course
    width 100%
    margin-bottom 20px

.name-information-course
    height 140px

.tt-button-name-course
    margin-top 10px
    h3
        font-size 15px

.button-access-course
    font-size 15px
    padding 5px 20px

.information-course-1
    display flex
    align-items center
    div
        width 9px
        height 9px
   span
        font-size 15px

.information-course-2
    font-size 15px
