.courses
    padding 0px 10px 0px 10px
    display flex
    flex-wrap wrap
    justify-content space-between

.course
    width 22%
    border-radius 5px
    border 1px solid #e5e5e5
    margin-bottom 30px

.img-course
    display flex
    justify-content center
    align-items center
    height 130px
    border-radius 5px 5px 0px 0px
    img
        height 66px
        transition: height 0.5s;
    &:hover img
        height 74px

.name-information-course
    display flex
    flex-direction column
    justify-content space-between
    height 150px
    padding 8px
    box-sizing border-box
    border-radius 0px 0px 5px 5px
    background #fff

.tt-button-name-course
    margin-top 10px
    text-align center
    h3
        font-size 16px
        margin-bottom 15px
        a:hover
            text-decoration underline

.button-access-course
    padding 4px 15px
    border 1px solid #79eace
    border-radius 5px
    transition: background 0.8s;
    &:hover
        background: #79eace

.information-course
    display flex
    justify-content space-between
    margin-top 25px
    padding-top 8px
    border-top 1px solid #e5e5e5

.information-course-1
    display flex
    align-items center
    div
        width 10px
        height 10px
        border-radius 100%
        margin-right 3px
        border 1px solid #79eace

.lv-course
    background #79eace

.information-course-2
    color #018c97

.free-course
    color #e39343
