.header-question-answers
    height 50px

.content-question-answers
    padding-top 70px

// Question and answers of the discussions
.user-question
    img
        width 45px
        height 45px

.inv-content-question
    h1
        font-size 23px

.guideOfComment
      margin-left 20px

.guideHorizontal
    width 20px

//Additional information of hte discussion
.additional-information
    width 27%
    margin-left 10px

.information-question-answers
    span:nth-child(1)
        margin-right 7px
