.header-question-answers
    height 46px
    i
        font-size 22px

.content-question-answers
    flex-direction column
    padding 58px 10px 0px 10px

// Question and answers of the discussions
.user-question
    img
        width 40px
        height 40px

.data-question
    font-size 14px

.inv-content-question
    padding-top 0px
    h1
        font-size 22px

.button-comentTheResponse
    padding 7px 20px

.guideOfComment
      margin-left 15px

.guideHorizontal
    width 15px

.comment-user
    img
        width 30px
        height 30px

.comment-data
    font-size 14px

//Additional information of hte discussion
.additional-information
    width 100%
    margin-left 0px
    border-top 1px solid #e5e5e5
    padding-top 15px
    padding-right 0px

.information-question-answers
    span:nth-child(1)
        margin-right 7px
