.header-question-answers
    padding-left 10px
    padding-right 10px
    height 44px
    font-size 15px
    i
        font-size 18px

.content-question-answers
    padding 56px 10px 0px 10px

.user-question
    img
        width 34px
        height 34px
    span
        font-size 15px

.inv-content-question
    padding-top 0px
    h1
        font-size 20px

.content-question
    font-size 15px
    img
        max-width 100%
        max-height 250px

.tags-question
    padding 8px 0px 0px 0px
    a
        font-size 12px

.buttons-voting
    padding 5px 14px 6px 14px
    span
        font-size 16px
        margin-left 14px
        margin-right 14px

.comentTheResponse-question
    font-size 15px

.inv-input-comentTheResponse
    font-size 15px

.button-comentTheResponse
    padding 6px 18px

.number-filter-responses
    font-size 15px

.filter-responses
    select
        width 160px

.guideOfComment
      margin-left 10px

.guideHorizontal
    width 10px

.comment-user
    font-size 15px
    img
        width 28px
        height 28px

.information-question-answers
    font-size 15px

.inv-class-related
    font-size 15px
    h4
        font-size 16px

.inv-questions-related
    font-size 15px
    h4
        font-size 16px
