// Message of the course
.inv-message-course
    margin-top 46px

.avatar-message-course
    padding 30px 30px 15px 30px
    img
        width 50px
        height 50px
        flex-shrink 0
    div
        border none
        height auto
        line-height normal
        padding 0px

// Search filter of the course
.inv-search-filter-course
    margin-top 30px

.search-course
    input
        padding 10px 8px 10px 30px
    .fa-search
        margin-top 13px
        margin-left 9px

.filter-course
    margin-left 8px
    select
        width 165px
        height 42px
    div
        width 80px
        height 40px
        line-height 40px
        margin-left 8px
