// Message of the course
.inv-message-course
    margin-top 60px
    background #fff

.avatar-message-course
    display flex
    justify-content center
    align-items center
    padding 40px 10px 20px 10px
    box-sizing border-box
    img
        width 76px
        height 76px
        margin-right 5px
    div
        border 1px solid #79eace
        text-align center
        height 60px
        line-height 60px
        padding 0px 25px 0px 25px
        box-sizing border-box
        border-radius 5px

// Search filter of the course
.inv-search-filter-course
    margin-top 60px
    margin-bottom 15px

.search-filter-course
    display flex
    padding 0px 10px
    box-sizing border-box

.search-course
    position relative
    flex auto
    input
        padding 12px 8px 12px 30px
        box-sizing border-box
    .fa-search
        position absolute
        margin-top 15px
        margin-left 8px

.filter-course
    display flex
    margin-left 10px
    select
        width 230px
        height 46px
        padding-left 8px
    div
        width 180px
        height 44px
        line-height 44px
        margin-left 10px
        border-radius 5px
        cursor pointer
        border 1px solid #e5e5e5
        background #fff
        &:hover
            border 1px solid #79eace
        span
            margin-left 8px
